table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #ddd;
}
